*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* regole generali */


.container-full{
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;


}

/* contenitore  generico */

.container-centered{
    margin-left: 50px;
    margin-right: 50px ;

}


/* contenuto centrato generico */

/* inizio navbar */


#container-navbar{
   
    background-color: #0084FD;

  
}

#centra-navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* fine navbar */


/* inizia il main */


/* blue section */

#blue-section{
   
}

.blue-cards{
    background-color: #85ddff;
    height: auto;
    border-radius: 5%;
}

#get-a-demo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#img-phone{
    height: 250px;
}

.centered-cards{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}