*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* regole generali */


.container-full{
    max-width: 576px;
    margin-left: auto;
    margin-right: auto;


}

/* contenitore  generico */

.container-centered{
    margin-left: 50px;
    margin-right: 50px ;

}


/* contenuto centrato generico */

/* inizio navbar */

nav{
    margin-bottom: 20px;
}

#container-navbar{
   
    background-color: #0084FD;

  
}

#centra-navbar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* fine navbar */


/* inizia il main */


/* inizio blue section */

#blue-section{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 80px;
}

.blue-cards{
    background-color: #85ddff;
    height: auto;
    border-radius: 5%;
}

#get-a-demo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#img-phone{
    height: 250px;
}

.centered-cards{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* fine blue section */



/* violet section */

.violet-background{
    background-color: #9792E4;
    
}

#container-planning{
    width: 576px;
    margin-left: auto;
    margin-right: auto;
}

.violet-cards{
    padding-top: 70px;
    padding-bottom: 50px;
}

#planning-uno{
    height: 250px;

}

#planning-due{
   width: 100%;
}

#card-bianca{
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* fine violet section */





/* inizio sezione testimonials */


.cards-viola{
    background-color: #9792E4;
    height: auto;
    border-radius: 5%;
        display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}


.img-testimonial{
    max-width: 70% ;
    border-radius: 50%;
}


.paragrafo-nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#centra-testimonials{
    max-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;


}

#paragrafo-centrato{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}

#sposta-cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
}
