*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* regole generali */


.main-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

nav{
    background-color: #0084FD;
    


}

#flex-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 40px;


}

.container-centered{
    margin-left: 50px;
    margin-right: 50px;


}

/* blue section */


#blue-section{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 80px;
}

.blue-cards{
    background-color: #85ddff;
    height: auto;
    border-radius: 5%;
}

#get-a-demo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#img-phone{
    height: 250px;
}

.centered-cards{
   
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
}

.centered-cards-sotto{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;


}

.centered-cards-viola{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;


}


.scritte-blu{
    color: #3CA1FD;

}

.paragrafi-blu{
    color: #70899E;
    font-weight: bold;
    text-align: center;
}

.button-blue{
    color: white;
    padding: 12px;
    background-color: #0084FD;
    max-width: 180px;
    border-radius: 20px;
}
  
.fa-file-circle-plus{
    font-size: 100px;
    color: #0084FD;


}


/* fine blue section */


/* violet section */

.violet-background{
    background-color: #9792E4;
    
}

#container-planning{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

}
.flex-violet-planning{
    display: flex;
    flex-direction: column;
    gap: 70px;
    

}

#planning-uno{
    width: 100%;

}

#planning-due{
   width: 100%;
}


#card-bianca{
    background-color: white;
    width: 100%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}




.scritte-bianche{
    color: white;
}

.testo-centrato{
    text-align: center;

}

.fa-arrow-down{
    background-color: violet;
    padding: 20px;
    border-radius: 50%;


}
/* fine violet section */

/* inizio testimonials */

.testimonials{
    margin-bottom: 50px;
}

#flex-testo-testimonials{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;


}

.scritte-viola{
    color: #A098E7;
}


.cards-viola{
    background-color: #9792E4;
    height: auto;
    border-radius: 5%;
        display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}



.img-testimonial{
    max-width: 70% ;
    border-radius: 50%;
}


.paragrafo-nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#sposta-cards{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 70px;
}
/* fine testimonials */

/* benefit */

.flex-cards-white{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
   




/* inizio about us */

#container-about-us{
    height: 691px;
}


#flex-about-us{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

#img-about-us{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;

}

#contenitore-about-us{
    display: flex;
    flex-direction: column;
    gap: 70px;

}

#contenitore-img-virgolette{
    display: flex;
    flex-direction: column;
    gap: 40px;


}





/* media query */



/* tablet */

@media screen and (min-width:577px) and (max-width:767px){

    #blue-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 80px;
    flex-wrap: wrap;
 }
 
 #get-a-demo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: calc(100% / 3 * 2 - 20px / 3);
}

.blue-cards {
    background-color: #85ddff;
    height: auto;
    border-radius: 5%;
    width: calc(100% / 3 - 20px / 3 * 2);
}

#container-planning {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.cards-viola{
    flex-direction: row;
}

.flex-cards-white{
    flex-wrap: wrap;
    flex-direction: row;

}

.centered-cards-sotto{
    width: calc(100% / 2 - (30px / 2 * 1));;
}


#flex-about-us{
    flex-direction: row;
}

}

/* fine tablet*/


/* inizio desktop */


@media screen and (min-width: 768px){

    #blue-section {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 80px;
        flex-wrap: wrap;
     }
     
     #get-a-demo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        width: calc(100% / 3 * 2 - 20px / 3);
    }
    
    .blue-cards {
        background-color: #85ddff;
        height: auto;
        border-radius: 5%;
        width: calc(100% / 3 - 20px / 3 * 2);
    }
    
    #container-planning {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .flex-violet-planning{
        flex-direction: row;
    }

    .centered-cards-viola{
        justify-content: flex-end;


    }

    #flex-about-us{
        flex-direction: row;
    }


    .centered-cards-sotto{
        width: calc(100% / 3 - (30px / 3 * 2));;
    }
    
    .flex-cards-white{
    flex-wrap: wrap;
    flex-direction: row;
}
    .cards-viola{
        flex-direction: row;
    }
}
  
    



